@use "../utils/variables" as *;
:root {
  --grid-gutter-width: 30px;
  --border-opacity: 1;
  background-color: transparent;
}
@keyframes starPulse {
  0% {
    transform: scale(1);

    opacity: 1;
  }
  50% {
    transform: scale(0.6);

    opacity: 1;
  }
  100% {
    transform: scale(1);

    opacity: 1;
  }
}
.starPulse {
  transform-box: fill-box;
  transform-origin: center;
}
.starPulse:nth-child(1) {
  transform-origin: center;
  animation: starPulse 3s infinite ease-in-out;
}

.starPulse:nth-child(2) {
  transform-origin: center;
  animation: starPulse 4s infinite ease-in-out 0.5s;
}

.starPulse:nth-child(3) {
  transform-origin: center;
  animation: starPulse 3.5s infinite ease-in-out 1s;
}

.starPulse:nth-child(4) {
  transform-origin: center;
  animation: starPulse 2.8s infinite ease-in-out 1.5s;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  font-stretch: condensed;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: 100%;

}

body {
  font-size: $p;
  font-weight: 400;
  line-height: 1.3;
  font-family: $font-base;
  padding: 0;
  overflow-x: hidden;
  color: $primary;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: 100%;
  background: $vyg no-repeat center center fixed;

  //
  //&.type-of-meteorites {
  //  background: $dbg no-repeat center center fixed;
  //}
  //&.stardust {
  //  background: #110088 no-repeat center center fixed;
  //}

}
#snippet-box {
  display: none;
}
.a11y-toolbar .offscreen {
  display: none !important;
}
::-ms-clear { display:none; } 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}
//* {
//  &::-webkit-media-controls-panel,
//  &::-webkit-media-controls-start-playback-button {
//    display: none !important;
//    -webkit-appearance: none;
//  }
//}
#root {
  height: 100%;
}

main {
  height: 100%;
  box-sizing: border-box;
  //overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
html.desktop-version {
  margin-top: 0!important;
}
nav {
  ul {
    list-style: none;
  }
}
blockquote {
  quotes: none;
}
select, button {
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
}
butto {
  border: none;
}
button:focus,
button:hover {
  outline: none;


}
button {
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  letter-spacing: inherit;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  vertical-align: middle;

}

blockquote {
  &:before, &:after {
    content: none;
  }
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
input,
a,
button,
select {
  &:focus {
    outline: none;  
  }
}
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
ins {
  background-color: #ff9;
  color: $black;
  text-decoration: none;
}
mark {
  color: $black;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 3rem;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
  box-sizing: border-box;
}
iframe {
  max-width: 100%;
}
html.overlayed {
  overflow: hidden;
  body.overlayed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
  }
  #wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.alignleft {
  float: left;
  margin: 0 2rem 2rem 0;
}
.alignright {
  float: right;
  margin: 0 0 2rem 2rem;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
::selection {
  background: #c4c4c4; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #c4c4c4; /* Gecko Browsers */
}
#wrapper {
  min-height: 100%;
  position: relative;
  //overflow: hidden;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}
.overlayed #wrapper {
  overflow: hidden;
}
.hidden {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.wow {
  visibility: hidden;
}


/* text aligments */

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center, .aligncenter {
  text-align: center !important;
}

.left {
  float: left;
}
.right {
  float: right;
}

.wp-caption, .wp-caption-text, .bypostauthor {
  font-size: 1.8rem;
}
.wp-caption {
  margin-bottom: 3.5rem;
  max-width: 100%;
  img {
    margin-bottom: 1.5rem;
    vertical-align: top;
    border-radius: 3rem;
  }
}

.inner {
  max-width: 1440px;
  width: 100%;
  padding: 0 4rem;
  box-sizing: border-box;
  margin: 0 auto;  

}
.hidden {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#content {
  position: relative;
  padding-bottom: 1px;
}
video::-internal-media-controls-download-button {
  display:none;
}
video::-webkit-media-controls-enclosure {
  overflow:hidden;
}
video::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */
}
svg {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1300px) {

}
@media (max-width: 1024px) {
  .wp-caption {
    width: 100% !important;
    img {
      width: 100%;
    }
  }
}
@media (max-width: 1023px) {
  #wrapper {
  overflow: hidden;
  }
}
@media (max-width: 767px) {
  //.wow {
  //  visibility:  visible !important;
  //  animation: none !important;
  //  opacity: 1 !important;
  //}
  body {
    font-size: 1.4rem;
  }
  .inner {
    padding: 0 2rem;
  }
  .wp-caption {
    img {
      border-radius: 1rem;
    }
  }
  .wp-caption, .wp-caption-text, .bypostauthor {
    font-size: 1.4rem;
  }

}

@media (max-width: 767px) {
  :root {
    --grid-gutter-width: 40px;
  }
}
