@use "../../assets/styles/utils/variables" as *;
.meteorite-nav {
  position: fixed;
  right: 2.5rem;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 80;
  border-radius: 45px;
  padding: 1.5rem 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility  0.8s;
  &:before{
    content: '';
    background: $vyg;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 90px;
    border-radius: 45px;
    transition: opacity .3s, height  0.8s;
  }

  ul {
    position: relative;
    z-index: 1;
    list-style-type: none;
    margin: 0;
  }
  li {
    margin-bottom: 2.5rem;
    text-align: center;
    width: 70px;
    opacity: 0;
    transform: translate(0, -50%);
    transition: opacity .8s 0.3s, transform 0.8s 0.3s;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: .8rem;
      height: .8rem;
      opacity: 0;
      background: $svg;
      margin-bottom: 1rem;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      border-radius: 50%;
      transition: opacity .3s;
      left: -2.6rem;
    }
    &.active {
      &:before {
        opacity: 1;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 96px;
      margin: 0 auto;
      position: relative;
      border-radius: 45px;
      background:  lightgray 50% / cover no-repeat, radial-gradient(325.9% 99.36% at 53.72% 1.55%, rgba(249, 249, 249, 0.24) 0%, rgba(105, 105, 105, 0.11) 100%);
      box-shadow: 0px 0.125px 0.998px 0px rgba(255, 255, 255, 0.70) inset, 0px 1.996px 0.998px 0px rgba(255, 255, 255, 0.40) inset, 0px 2.495px 4.991px 0px rgba(255, 255, 255, 0.70) inset;
      backdrop-filter: blur(1.8715596199035645px);
      span {
        display: block;
        width: 100%;
      }
      img {
        display: block;
        margin: 0 auto;

        &:nth-child(1){
          max-width: 70%;
          position: relative;
          z-index: 10;
          animation: capsule 1.5s infinite linear;
        }
        &:nth-child(2) {
          max-width: 65%;
          margin-top: -15px;
          animation: capsuleShadow 1.5s infinite linear;
        }
      }
    }
    &.current {
      a {
        width: 62px;
        height: 82px;
        border-radius: 38.991px;
        border-top-color: #423C4C;
        background: lightgray 50% / cover no-repeat, radial-gradient(325.9% 99.36% at 53.72% 1.55%, rgba(249, 249, 249, 0.24) 0%, rgba(105, 105, 105, 0.11) 100%);
        box-shadow: 0px 0.195px 1.56px 0px rgba(255, 255, 255, 0.70) inset, 0px 3.119px 1.56px 0px rgba(0, 0, 0, 0.40) inset, 0px 3.899px 7.798px 0px rgba(255, 255, 255, 0.70) inset;
        backdrop-filter: blur(2.924311637878418px);
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    &:before {
      opacity: 1;
      height: 100%;
    }
    li {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
@keyframes capsule {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 5%);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, -5%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes capsuleShadow {
  0% {
    transform: translate(0%, 70%) scale(1);
  }
  25% {
    transform: translate(0%, 70%) scale(1.1);
  }
  50% {
    transform: translate(0%, 70%) scale(1)
  }
  75% {
    transform: translate(0%, 70%) scale(0.9);
  }
  100% {
    transform: translate(0%, 70%) scale(1);
  }
}