@use "../../assets/styles/utils/variables" as *;
.meteorites-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #000;
  &:after {
    content: '';
    position: absolute;
    inset: 0;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='847' fill='none' viewBox='0 0 1440 847'%3E%3Cg filter='url(%23a)'%3E%3Crect width='1600' height='1000' fill='url(%23b)' transform='translate(-72 -202)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' x='-120.889' y='-250.889' width='1697.78' height='1097.78' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect2_foregroundBlur_1609_7475' stdDeviation='24.4444'/%3E%3C/filter%3E%3CradialGradient id='b' cx='0' cy='0' r='1' gradientTransform='matrix(0 1264 -1264 0 728 302)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23908EFF'/%3E%3Cstop offset='.347'/%3E%3Cstop offset='.657'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    filter: blur(24.44444465637207px);
  }
  &__in {
    position: relative;
    height: 100%;
    z-index: 9;
  }
  .ia-container {
    position: relative;
    height: 100%;
  }
}
.meteorites-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5.6rem;
  font-weight: 300;
  letter-spacing: 11.2px;
  color: $info;
  text-transform: uppercase;
  z-index: 99;
  white-space: nowrap;
}
.meteorites-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #B7AFFF;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
.meteorites-circle {
  position: absolute;
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  top: 70%;
  left: 50%;

  transform: translate(-50%, -50%);
  &__line {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    opacity: 0.3;
    border: 1px dashed #A398FF;
  }
}

.meteorite-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 145px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__info {
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s;
  }
  img {
    width: 80%;
    display: block;
  }

  &.active {
    border-radius: 999px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat, radial-gradient(325.9% 99.36% at 53.72% 1.55%, rgba(249, 249, 249, 0.24) 0%, rgba(105, 105, 105, 0.11) 100%);
    box-shadow: 0 0.225px 1.802px 0 rgba(255, 255, 255, 0.70) inset, 0 3.604px 1.802px 0 rgba(255, 255, 255, 0.40) inset, 0 4.505px 9.011px 0 rgba(255, 255, 255, 0.70) inset;
    backdrop-filter: blur(3.378990888595581px);
  }
}

.meteorites-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 880px;
  max-width: 100%;
  text-align: center;
   h3 {
     text-transform: uppercase;
     font-size: 5.6rem;
     letter-spacing: 11.2px;
     font-weight: 300;
     background: var(--Background-Intense-Violet-Gradient-Inverted, linear-gradient(0deg, #6E6BFF -13.75%, #E1D7FF 126.25%));
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
   }
}
.meteorite-item__text {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  color: #B7AFFF;
  &-left,
  &-right {
    width: 50%;
  }
  &-left {
    text-align: right;
  }

}