@use "../../assets/styles/utils/variables" as *;
.pin-spacer-type-meteorites-scroll {
  height: 580vh !important;
}
.meteorites-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #000;
  &:after {
    content: '';
    position: absolute;
    inset: 50px 0 0 0;
    border-radius: 50%;
    background: conic-gradient(from -75deg at 50% 50.8%, rgba(0, 0, 0, 0.70) 0deg, rgba(144, 142, 255, 0.70) 70deg, rgba(0, 0, 0, 0.70) 170deg, rgba(0, 0, 0, 0.70) 280deg);
    filter: blur(24.44444465637207px);
    background-size: cover;
    background-position: center;
    filter: blur(24.44444465637207px);
  }
  &__in {
    position: relative;
    height: 100%;
    z-index: 9;
  }
  .ia-container {
    position: relative;
    height: 100%;
  }
}
.meteorites-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5.6rem;
  font-weight: 300;
  letter-spacing: 11.2px;
  color: $info;
  text-transform: uppercase;
  z-index: 99;
  white-space: nowrap;
  transition: all .5s;
}
.meteorites-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 595px;
  transform: translate(-50%, -50%);
  color: #B7AFFF;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
.meteorites-circle {
  position: absolute;
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  top: 65%;
  left: 50%;

  transform: translate(-50%, -50%);
  &__line {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    opacity: 0.3;
    border: 1px dashed #A398FF;
  }
}

.meteorite-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 145px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__info {
    position: absolute;
    left: 0;
    top: 0;
    //transition: all .3s;
  }
  img {
    width: 80%;
    display: block;
  }

  &.active {
    border-radius: 999px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat, radial-gradient(325.9% 99.36% at 53.72% 1.55%, rgba(249, 249, 249, 0.24) 0%, rgba(105, 105, 105, 0.11) 100%);
    box-shadow: 0 0.225px 1.802px 0 rgba(255, 255, 255, 0.70) inset, 0 3.604px 1.802px 0 rgba(255, 255, 255, 0.40) inset, 0 4.505px 9.011px 0 rgba(255, 255, 255, 0.70) inset;
    backdrop-filter: blur(3.378990888595581px);
  }
}

.meteorites-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 880px;
  max-width: 100%;
  text-align: center;
   h3 {
     text-transform: uppercase;
     font-size: 5.4rem;
     letter-spacing: 8px;
     font-weight: 300;
     background: var(--Background-Intense-Violet-Gradient-Inverted, linear-gradient(0deg, #6E6BFF -13.75%, #E1D7FF 126.25%));
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

     > div > div  {
       background: var(--Background-Intense-Violet-Gradient-Inverted, linear-gradient(0deg, #6E6BFF -13.75%, #E1D7FF 126.25%));
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
     }
   }
}
.meteorite-item__text {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  color: #B7AFFF;
  &-left {
    width: 52%;
  }
  &-right {
    width: 48%;
    opacity: 0;
    transform: translateY(3rem);
    transition: all .5s;
  }
  &-left {
    text-align: right;
  }

}
.meteorite-item__sub-title {
  opacity: 0;
  filter: blur(3px);
  transition: all .5s;
}
.meteorite-item__info {
  &[style*="opacity: 1"] {
    .meteorite-item__text-right {
      opacity: 1;
      transform: translateY(0);
    }
    .meteorite-item__sub-title {
      opacity: 1;
      filter: blur(0);
    }
  }
}