@use "../../assets/styles/utils/variables" as *;

.intro {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;

  .ia-container {
    position: relative;
    z-index: 10;
    height: 100%;
  }
  &-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.intro-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 120%;
    max-height: 170%;
    min-height: 100%;
    height: auto;
    width: auto;
  }
}
.lg {
  font-size: 5.6rem;
}
.intro-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, 0);

}
.intro-2,
.intro-3 {
  opacity: 0;
  max-width: 100%;
  width: 416px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: 0.4rem;
  transition: opacity .5s;
}
.intro-4 {
  font-size: 26.4rem;
  white-space: nowrap;
  color: $info;
  font-weight: 100;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  top: 50%;
  div {
    transform: translate(100%, -50%);
    //opacity: 0;
    position: absolute;
    top: 50%;
    width: 100vw;
    left: 0;
    white-space: nowrap;
    transition: opacity 0.5s;
  }
}
.intro-5,
.intro-6 {
  letter-spacing: 0.4rem;
  max-width: 560px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity .5s;
}
.intro-7 {
  max-width: 640px;
}
.intro-meteor {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.pin-spacer-intro-scroll {
  height: 20000px  !important;
}