@use "../../assets/styles/utils/variables" as *;
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $vyg;
  pointer-events: none;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease, background-color 0.2s ease, transform 0.4s ease;
  z-index: 9999;
  display: none;
}

.cursor.hover {
  width: 28px;
  height: 28px;
  opacity: 0.8;
  transform: translate(-50%, -50%) rotate(180deg);
}
@media (min-width: 1025px) {
  .cursor {
    display: block;
  }
  body {
    cursor: none;
    *:hover {
      cursor: none;
    }
  }
}