@use "../../assets/styles/utils/variables" as *;
.video-modal{
    background: $black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    &-in {
      height: 100%;
      overflow-y: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .ia-container {
        max-width: 1200px;
      }
    }

  &__video {
    margin-bottom: 4rem;
    video {
      width: 100%;
      height: auto;
      max-width: 100%;
      z-index: 1;
      position: relative;
    }
  }
  &__close {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    z-index: 100;

  }
  &__info {
    padding: 2.4rem;
  }
  &__desc {
    margin-bottom: .8rem;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

  }
  &__source{
    p {
      font-size: 1.4rem;
      color: $primary;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 812px) {
  .video-modal{
    &__desc {
      p {
        font-size: 1.6rem;
      }
    }
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .video-modal{
    &__desc,
    &__source {
      display: none;
    }
    &__close {
      position: absolute;
      left: 1.7rem;
      top: 50%;
      margin-top: -2rem;
    }
    &__popup {
      &-in {
        padding: 0 5rem;
      }
    }
    &__video {
      max-width: 525px;
      margin: 0 auto;
      text-align: center;
      video {
        max-height: calc(100vh - 5rem);
      }
    }
  }
}